#category-slider{
    width: 80vw;
    /* height: 100%; */
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    /* margin-left: 5%; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-left-color: black;
    border-right-color: black;
    /* background-color: #555; */
    /* box-shadow: 0 0 14px 0 #555; */
}

#category-slider::-webkit-scrollbar{
    display: none;
}

