/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0BC5EA #f5f5f5;;
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #0BC5EA;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
}